<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Login</span>

            <form method="post" class="form"  name="loginForm">
                <div class="input-field">
                    <input type="email" id="email"  placeholder="Enter your email">
                    <i class="fa fa-solid fa-envelope icon"></i>

                </div>
                
                <div class="input-field">
                    <input type="password" id="password" class="password" placeholder="Enter your password">
                    <i class="fa fa-solid fa-eye-slash showhidepw"></i>
                </div>

                <div class="checkbox-text">
                    <div class="checkbox-content">
                        <input type="checkbox" id="logcheck">
                        <label for="logcheck" class="text">Remember me</label>
                    </div>
                </div>
                
            </form>
            <div class="input-field button">
                <button (click)="submit()" type="submit">Login</button>
            </div>
            <div class="login-signup">
                <span class="text">Not a member?</span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/register" class="signup-link">Sign up</a>
            </div>
            <div class="login-signup">
               
                <a href="#" class="signup-link">Back Home</a>
            </div>
        </div>
    </div>
</div>